body{
  margin: 10px 20% 15px 20%;
  /* border: medium rgb(230,230,230); */
  /* border-style: dotted; */
  background-color: #9EFDFC;
  font-family: "幼圆"
}

.right{
	text-align:right;	
}


.center{
  text-align: center;
}

h1{
  font-size: 40px;
}

sup{
  font-size: 22px;
}

ul{
  list-style-type:none;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

nav ul li{
  display: inline;
}

a:link, a:visited{
  font-weight: bold;
  color: #666666;
  background-color: #87FDFB;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover,a:active{
  background-color: #ccc;
}

nav{
  font-size: 18px;
  height: 22px;
  margin: 10px 25% 10px 25%;
}

.signin_form{
  text-align: center;
  margin: 4% 25% 10px 25%;
  padding: 12px;
}

.signin_form p{
  font-size: 22px;
  font-weight: bold;
}

.signin_form input{
  width: 80%;
  height: 4%;
}

button{
  font-size: 18px;
  width: 50%;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #666666;
  font-weight: bold;
  text-align: center;
  background-color: #f5f5f5;
}

button:hover{
  background-color: #ccc;
}

.userinfo{
  margin: 5px 5px 5px 5px;
  text-align: center;
}

img.title{
    width:200px;
}
