body {
    margin: 5px 5% 5px 5%;
    background-color: #f5f5f5;
    font-family: "Microsoft YaHei", "Courier New", monospace;
}

.center {
    text-align: center;
}

h1 {
    font-size: 40px;
}

sup {
    font-size: 22px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

nav ul li {
    display: inline;
}

a:link, a:visited {
    font-weight: bold;
    color: #666666;
    background-color: #f5f5f5;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #ccc;
}

nav {
    font-size: 15px;
    height: 22px;
    margin: 10px 0 10px 0;
}

button {
    font-size: 18px;
    width: 50%;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #666666;
    font-weight: bold;
    text-align: center;
    background-color: #f5f5f5;
}

button:hover {
    background-color: #ccc;
}

div.divButton {
    border-style: solid;
    text-align: center;
}

table tr td {
    height: 20px;
    padding: 10px 25px 10px 25px;
    text-align: left;
}

img.demo {
    width: 100px;
    height: auto;
}

div.mobileView {
    position: relative;
    float: left;
    /*width: 500px;*/
    /*max-height: 800px;*/
    /*overflow: hidden;*/
}

iframe {
    width: 480px;
    height: 800px;
    /*zoom:50%*/
}

div.orderView {
    position: relative;

}

div.orderItem {
    position: relative;
    width: 100%;
    border: solid;
    border-width: thin;
    /*float:left;*/

}

.orderView .hiddenContent {
    display: none;
}

.orderView .address {
    width: 60%;
    border: 1px solid #ccc;
}
/*/货品修改页面*/
#changeSituation{
    margin: 10px;
}



/*/促销管理页面*/
.css_tr {
    border-top: solid;
    border-width: thin;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.css_td {
    float: left;
    /*display: inline;*/
    border-right: solid;
    border-width: thin;
    min-width: 10%;
    min-height: 60px;
    width: 14%
}
.css_td input{
    width: 95%;
}

#inPromotions{
    /*color: #0660e7;*/
    border: solid;
    margin: 2px;
    border-width: thin;
    border-color: #00a213;
}

#notInPromotions {
    clear: left;
}

.proGoodsName {
    font-size: 12px;
}

