body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, a, span, label, em, strong, b, i, del {
    margin: 0;
    padding: 0;
    color: #333;
    font: 12px/16px microsoft yahei, Verdana, Arial;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 16px;
    font-family: 'microsoft yahei', Verdana, Arial;
}
ul, dl {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
body {
    min-width: 320px;
    background-color: #f5f3f1;
}
.header {
    min-width: 320px;
    height: 50px;
    /*background-color: #0587f6;*/
    position: relative;
    z-index: 15;
}
a{
    cursor: pointer
}
div {
    cursor: pointer
}
.header .hd_tit{color:#fff; font-size:16px; line-height:50px; margin-left:12%; margin-right:90px; text-align:left;}
/*顶部搜索框*/
.header .hd_input{border:none; background-color:#fff; color:#666; height:34px; width:100%; padding:0 12px; line-height:24px; font-size:14px; border-radius:16px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; outline:none; font-family:microsoft yahei;}
.header .hd_input::-moz-placeholder{color:#878787;}
.header .hd_input::-webkit-input-placeholder{color:#878787;}
.header .hd_input:-ms-input-placeholder{color:#878787;}
.header .head_right{height:30px; width:68px; position:absolute; right:3%; top:10px;}
.head_nav{height:60px; background-color:#fff; overflow:hidden; box-shadow:0 2px 3px #dcdcdc; display:none;}
.head_nav > a{width:25%; height:100%; text-align:center; line-height:90px; background-size:25px; background-position:center 10px; background-repeat:no-repeat; color:#999; display:block; float:left;}
.head_nav .hn_index{background-image:url(images/icon_home.png);}
.head_nav .hn_sort{background-image:url(images/icon_sort.png);}
.head_nav .hn_cart{background-image:url(images/icon_cart.png);}
.head_nav .hn_memb{background-image:url(images/icon_member.png);}
.delete{padding:6px; float:right; display:inline-block; width:18px; height:18px; background:url(images/icon-del.png) no-repeat; background-size:18px 18px; background-position:center;}
.toast{padding:20px 30px; border:1px solid #333; border-radius:5px; position:fixed; top:50%; left:50%; transform:translate(-50%,-45%); -webkit-transform:translate(-50%,-45%); background-color:#333; opacity:0.8; display:none; color:#fff; font-size:16px; font-weight:700; line-height:24px; text-align:center; min-width:126px; max-width:196px;}
.marked{background-color:#a17700; display:inline-block; margin:5px; padding:0 4px; border-radius:3px; line-height:15px;}
.marked em{display:inline-block; padding:0 4px; color:#fff; background-color:#c7a886; line-height:18px;}

header .back {
    height: 27px;
    width: 27px;
    position: absolute;
    left: 3%;
    top: 12px;
    background: url(images/header.png) no-repeat;
    background-size: 150px 25px;
    background-position: -75px 1px;
}
header {
    width: 100%;
    height: 50px;
    background-color: #0587f6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
}


.headerContainer {
    width: 100%;
    height: 34px;
    padding: 8px 0;
    position: relative;
    z-index: 11;
}
.logo {
    position: absolute;
    z-index: 2;
    height: 30px;
    width: 60px;
    background: url(images/logo.png) no-repeat;
    background-size: 60px auto;
    background-position: center;
    top: 8px;
    left: 0;
    margin: 0 3px;
}
.searchBox {
    margin-left: 66px;
    margin-right: 42px;
    height: 34px;
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}
.daohang {
    position: absolute;
    top: 12px;
    right: 3px;
    display: block;
    height: 30px;
    width: 30px;
    background: url(images/header.png) no-repeat;
    background-size: 150px 25px;
    background-position: -123px 3px;
    float: left;
    margin-left: 8px;
}
div.wrap{
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #f5f3f1;
    font-family: microsoft yahei;
    color: #313131;
}
div.floor {
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #dcdcdc;
}
.main_input {
    border: none;
    background-color: #fff;
    color: #666;
    height: 34px;
    width: 100%;
    padding: 0 12px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 16px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    font-family: microsoft yahei;
}
.search_btn {
    background: url(images/header.png) no-repeat;
    background-size: 150px 25px;
    background-position: 4px 4px;
    height: 34px;
    width: 34px;
    position: absolute;
    right: 5px;
    top: 0;
    border: none;
    z-index: 2;
}
.block{
    font-family: lisu;
    padding: 2%;
    border-style: solid;
    margin: 2%;
    border-radius: 4px;
    background-color: #ffffff;
    border-color:#dcdcdc;
    border-width: thin;
    box-shadow:2px 3px 3px #dcdcdc;
    min-height: 40px;
    clear: both;
}

.ui-icon-cart{
    background:url('images/buy.png') no-repeat 0px 0px;
}

a:link{
    color:#dcdcdc;
    text-decoration: none
}
a:visited{
    color:#dcdcdc;
    text-decoration: none
}


